:root{
    --prymary-color:rgb(81, 129, 89);
}
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: 'Red Hat Display', sans-serif;
}html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}body{
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: 'Red Hat Display', sans-serif;
}#fora{
    display: flex;
    width:100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--prymary-color);
}nav{
    width: 100vw;
    height: 100px;
    display: flex;
    position: fixed ;
    align-items: center;
    justify-content: space-around;
    background-color: var(--prymary-color);
    color: white;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.39) ;
    z-index: 1;
}#logo{
    height: 90px;
    border-radius: 2px;
}#mapa-menu{
    background-color: rgb(250, 250, 250);
    color:rgba(18, 48, 20, 0.937) ;
    
}ul{
    display: flex;
    align-items: center;
}a{
    font-weight: 500;
    font-size: 1.34em;
    color: rgb(244, 244, 244);
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 20px;
    transition: 0.5s;
}ul a:hover{
    position:relative;
    top:0;
    top:-4px;
}.menu{
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
}.container img{
    height: 400px;
}.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
#home{
    background-color:rgb(250, 250, 250);
}#sobre{
    background-color: rgb(13, 56, 94, 0.212);
}
#tecnologias{
    background-color: rgb(13, 56, 94, 0.212);
}
#tecnologias{
    background-color: rgba(68, 89, 107, 0.212);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
}
#rodape{
    display: flex;
    height: 170px;
    width: 100%;
    background-color:  var(--prymary-color);
    justify-content: space-around;
    margin-top: -5px;
}
.rodape2{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
    color:rgb(237, 237, 237);
    font-weight: 500;
    width: 20%;
    height: 100%;
}
#liRodape{
    display: block;
    font-size: 15px;
}#cultivo{
    background-color: rgb(225, 234, 227);
}i{
    font-size: x-large;
    padding: 5px;
}.redes{
    font-size: x-large;
}.svg{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100; 
   width: 38%;
   padding: 20px;
}
h2{
    padding: 15px;
    font-weight: 400;
    font-size: 35px; 

}h3{
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
}p{
    font-weight: 400;
    font-size: 20px;
}.padding{
    margin: 10vw;
    text-align:justify;
}
.link-redes{
    font-size: medium;
}.ico-language{
    height: 80px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}.container_svg2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
}.svg2{
    fill: rgb(44, 44, 44);
    height: 2.5em;
    transition: .3s;
}.svg2:hover{
    height: 3.5em;
}
p{
    text-indent: 30px;
    text-align: justify;
}.round{
    width: 400px;
    height: 400px;
}.round-six{
    max-width: 550px;
    max-height: 380px;
    border-radius: 10px;
    margin-top: 40px;
}.ul-colun{
    display: flex;
    flex-direction: column;
    list-style: circle !important;
}.ul-colun li{
    margin: 5px 0;
    text-align: left;
}.img-rigth{
    display: flex;
    flex-direction: row-reverse;
}h4{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 4px;
}#banner{
    width: 100%;
    height: 500px;
    background-image: url(mesa-legumes.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    background-size:auto;
}#titulo{
    font-weight: 400;
    font-size: 70px;
    color: #fafafa;
}
  
#galeria{
    display: flex;
    align-items:  center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    justify-items: center;
}
#carrossel{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    max-width: 80%;
    justify-items: center;
}
#carrossel img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.img{
    background-image: url(mesa-legumes.jpg);
    height: 90vh;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    padding-top: 100px;
}
.overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.654);
    height: 100%;
}
.overlay  h2{
    color: white;
    font-weight: 200;
    font-size: 70px;
}