#rodape{
    display: flex;
    width: 100%;
    background-color:  var(--prymary-color);
    justify-content: center;
    margin-top: -5px;
    padding-top: 20px;

   
}
.rodape2{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
    color:rgb(237, 237, 237);
    font-weight: 500;
    width: 20%;
    height: 100%;
    margin-left: 5%;
}
.rodape2 a img{
    height: 60px;
}
#liRodape{
    display: flex;
    font-size: 15px;
}
.rodape2 h3{
    color: white;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0;
}
.rodape2 a{
    display: flex;
    flex-direction: row;
    padding: 0;
}
.rodape2 a h3{
    font-weight: 300;
}
i a{
    width: fit-content;
}
i{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}.redes i{
    width: fit-content;
}

@media screen and (max-width: 730px) {
    #rodape{
        flex-direction: column;
        align-items: left;
    }
    .rodape2{
        width: fit-content;
        margin-bottom: 5%;
        
    }
    .rodape2 h3{
        color: white;
        font-size: 1.1em;
        font-weight: 700;
        margin-bottom: 0;
    }
}
