:root{
    --prymary-color:#467F56;
}
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: 'Red Hat Display', sans-serif;
}html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
    vertical-align:baseline;
    
}#logo{
    height: 80px;
    border-radius: 2px;

}a{
    font-weight: 500;
    font-size: 1.34em;
    color: rgb(244, 244, 244);
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 20px;
    transition: 0.5s;
}.container{
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
#sobre{
    background-color: rgb(13, 56, 94, 0.212);
}
#rodape{
    display: flex;
    height: 170px;
    width: 100%;
    background-color:  var(--prymary-color);
    justify-content: space-around;
    margin-top: -5px;
}
.rodape2{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
    color:rgb(237, 237, 237);
    font-weight: 500;
    width: 20%;
    height: 100%;
}
#liRodape{
    display: block;
    font-size: 15px;
}#cultivo{
    background-color: rgb(225, 234, 227);
}#participe{
    padding-top: 30px;
}i{
    font-size: x-large;
    padding: 5px;
}.redes{
    font-size: x-large;
}.svg{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 80%;
   padding: 30px;
}
h2{
    color: var(--prymary-color);
    padding: 15px;
    font-weight: 400;
    font-size: 35px; 

}h3{
    color: var(--prymary-color);
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
}p{
    font-weight: 400;
    font-size: 20px;
}.padding{
    margin: 10vw;
    text-align:justify;
}
.link-redes{
    font-size: medium;
}.ico-language{
    height: 80px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}.svg2:hover{
    height: 3.5em;
}
p{
    text-indent: 30px;
    text-align: justify;
}.round{
    width: 400px;
    height: 400px;
}.round-six{
    max-width: 550px;
    max-height: 380px;
    border-radius: 10px;
    margin-top: 40px;
}h4{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 4px;
}#banner{
    width: 100%;
    height: 500px;
    background-image: url(mesa-legumes.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    background-size:auto;
}#titulo{
    font-weight: 400;
    font-size: 70px;
    color: #fafafa;
}
  
#galeria{
    display: flex;
    align-items:  center;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    justify-items: center;
    background-color: rgb(225, 234, 227);
}
#carrossel{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 90%;
    justify-items: center;
    background-image: url(foto1.jpg);
    background-position: center;
    background-size: cover;
}
#carrossel img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.whatsapp{
    width: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: .3s;
}
.whatsapp:hover{
    width: 60px;
    position: fixed;
    bottom: 25px;
    right: 25px;
}
.link-whatsapp{
    position: relative;
}
.link-whatsapp p{
    position: absolute;
    top: 0px;
    color: black
}
.flex-colun{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.container-slide{
    display: flex;
    justify-content: space-between;
    width: 60vw;
    height: 70vh;
    background-color: black;
    margin-bottom:40px;
    border-radius: 5px;
    box-shadow: 0px  20px 30px rgba(0, 0, 0, 0.293);
}
.container-items {
    position: absolute;
    display: flex;
    width: 60vw;
    height: 70vh;
    border-radius: 10px;
    overflow: hidden;
}
.item {
    width: 60vw;
    height: 70vh;
    transition: all 0.4s;
}
.item:first-child {
    margin-left: -100%;
}

.item img{
    width: 60vw;
    height: 70vh;
    border-radius: 5px;
}

.action-button {
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: rgba(52, 112, 47, 0.526);
    user-select: none;
    border-radius: 5px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.395);
}
.action-button:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.624);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}


.form {
    width: 100%;
    max-width: 32rem;
    font-size: 1.125rem;
    align-items: center;
    justify-content: center;
  }
  
  .form label,
  .form input,
  .form textarea,
  .form button {
    display: block;
    width: 100%;
  }
  
  .form label {
    color: #1f1b1b;
    line-height: 1;
    margin-bottom: 0.5rem;
  }
  
  .form input,
  .form textarea {
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
  }
  
  .form textarea {
    min-height: 13rem;
    resize: vertical;
    border:1px solid black;
  }
  
  .form input:hover,
  .form input:focus,
  .form textarea:hover,
  .form textarea:focus {
    outline: none;
    border-color: black;
  }
  
  .form button {
    display: block;
    padding: 1rem;
    background: #467F56;
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .form button:hover,
  .form button:focus {
    outline: none;
    background: #294a32;
  }
  .div-form{
    width: 90vw;    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

