:root{
    --prymary-color:#233b29;
}
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: 'Red Hat Display', sans-serif;
}html{
    scroll-behavior: smooth;
    scroll-padding-top: 0px;
    vertical-align:baseline;
    
}#logo{
    height: 80px;
    border-radius: 2px;

}a{
    font-weight: 500;
    font-size: 1.34em;
    color: rgb(244, 244, 244);
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 20px;
    transition: 0.5s;
}
#cultivo{
    background-color: rgb(225, 234, 227);
}#participe{
    padding-top: 30px;
}i{
    font-size: x-large;
    padding: 5px;
}.redes{
    font-size: x-large;
}
h2{
    color: var(--prymary-color);
    padding: 15px;
    font-weight: 600;
    font-size: 30px; 

}h3{
    color: var(--prymary-color);
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
}p{
    font-weight: 400;
    font-size: 20px;
}.padding{
    margin: 10vw;
    text-align:justify;
}
.link-redes{
    font-size: medium;
}.ico-language{
    height: 80px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}.svg2:hover{
    height: 3.5em;
}
p{
    text-indent: 30px;
    text-align: justify;
}.round{
    width: 400px;
    height: 400px;
}.round-six{
    max-width: 550px;
    max-height: 380px;
    border-radius: 10px;
    margin-top: 40px;
}h4{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 4px;
}#titulo{
    font-weight: 400;
    font-size: 70px;
    color: #fafafa;
}
  
.whatsapp{
    width: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: .3s;
    z-index: 5;
}
.whatsapp:hover{
    width: 60px;
    position: fixed;
    bottom: 25px;
    right: 25px;
}
.link-whatsapp{
    position: relative;
}
.link-whatsapp p{
    position: absolute;
    top: 0px;
    color: black
}
.flex-colun{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}